@charset "utf-8";
@import url(base.css);
@import url(body_bg.css);
@import url(icon_base.css);
@import url(icon.css);
body {
  background-color: #FFFFFF;
  background-image: url("../img/bg/icon_view.png");
}
table td {
  font-size: 15px;
}
