@charset "utf-8";
@import url(base.css);
body{
  background-color: #FFFFFF;
  background-image: url("../img/top_bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
}
h1, h2, h3, h4, h5{
  margin: 0px;
  padding: 5px 0px;
}
h1{
  background-color: #CCFFCC;
  font-size: 200%;
}
h2{
  background-color: #CCFFFF;
  font-size: 150%;
}
h3{
  background-color: #FFDDDD;
  font-size: 120%;
}
h4{
  background-color: #DDDDEE;
  font-size: 100%;
}
h5{
  background-color: #DDDDDD;
  font-size: 90%;
}
pre{
  padding-bottom: 10px;
}
.menu{
  border: 1px solid #CC3300;
  padding: 5px 1px;
  background-color: #CCFFCC;
  text-align: center;
  font-weight: bold;
}
ul{ /* メニューのリンク */
  list-style-type: circle;
  margin-left: -20px;
  *margin-left: 8px; /* IE6 対応 */
  line-height: 150%;
  font-size: 95%;
}
ol{line-height: 150%;}
