#room_list{
 background-color: #FFFFF;
 background-image:url("../img/old_log_bg.jpg");
 background-repeat:no-repeat;
 background-position:100% 100%;
 background-attachment:fixed;
}
#room_list table{
 filter:alpha(opacity=80,enabled=80)
 -moz-opacity:0.8;
 opacity:0.8;
}
h1 {
 font-size:12pt;
 font-weight:normal;
}
h1 em {
 font-size:15pt;
 font-weight:bold;
 font-style:normal;
}
table {
 border-collapse:collapse;
}
th, td {
 border : #ffffff solid 0px ;
}
img.icon {
 height:16px;
 width:16px;
}
img.winner {
 height:15px;
 width:15px;
}
a:link {
 color:#0000ff;
}
a:visited {
 color:#0000ff;
}
a:active {
 color:#ff0000;
}
a:hover {
 color:#ff0000;
}
.column th{
  margin: 0px;
  border-width : 1px 0 0 1px ;
  padding : 3px 3px 3px 6px;
  background-color: #526CD6;
  color: #ffffff;
  white-space: nowrap;
}
.row {
 margin: 0px;
 border-width : 1px 0 0 1px ;
 padding : 3px 3px 3px 6px;
 background-color:#f2eace;
 color: #333333;
}
