* {
  margin: 0;
  border: 0 none transparent;
  padding: 0;
}

body {
  font-size: 11pt;
  padding: 0 30px;
}

#top {
  margin: 0 -30px;
  border-width: 0 30px;
  border-style: solid;
}

#title {
  position: relative;
  padding: 0.5ex 0;
}
#title * {
  display: inline;
}
.heaven #title h1 {
  font-size: inherit;
}
.heaven #wayback_links {
  display: block;
  width: 100%;
  top: 0;
  position:absolute;
  text-align: right;
}

#game_info {
  position: relative;
  width: 100%;
}

#game_info * {
  display: inline;
}

#players td {
  padding: 3px;
}

#players .icon {
  display: block;
  float: left;
}

#wayback_links {
  text-align: right;
}
#wayback_links *{
  display: inline;
  list-style: none;
  font-size: small;
}
#wayback_links a {
  margin: 0 0.2ex;
  padding: 0 0.3ex;
}

#players ul {
  list-style: none;
  float: left;
  padding-left: 5px;
}

#notice div * {
  display: inline;
  line-height: 120%;
  vertical-align: bottom;
}

#winner {
  margin: 5px 0px;
  width: 100%;
  list-style: none;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
#winner li {
  padding: 0.5ex 0;
}
.victory-human{
  background-color: #FFFF99;
  color: #000000;
}
.victory-wolf{
  background-color: #CC0000;
  color: #FFFAFA;
}
.victory-fox{
  background-color: #993399;
  color: #FFFAFA;
}
.victory-lovers{
  background-color: #FFFAFA;
  color: #FF69B4; /* hotpink */
}
.victory-quiz{
  background-color: #9999CC;
  color: #FFFF99;
}
.victory-none{
  background-color: #000000;
  color: #FFFAFA;
}

.vote-list,  .vote-list * {
  border-collapse: collapse;
  border: 2px solid #c0c0c0;
  padding: 0.5ex 1ex;
}

.vote-list .name {
  font-weight: bold;
  text-align: left;
}

.section {
  margin: 0 -30px;
  border-width: 0 30px;
  border-style: none solid;
}

.strong {
  font-size: xx-large;
  font-weight: bold;
}

.weak {
  font-size: smaller;
  color: #6699FF;
}

.common {
  color: #99FF66;
}

.fox {
  color: #FFFF33;
}

dl.talk {
  margin: -2px 0 0;
  padding-left: 12em;
}

dl.talk dt {
  float: left;
  width: 11em;
  margin-left: -12em;
  clear: both;
  border-top: 2px dotted #c0c0c0;
  padding: 0.5ex 0 0.5ex 1em;
}
dl.talk dt.common {
  font-size: smaller;
}

dl.talk dd {
  float: left;
  width: 100%;
  border-top: 2px dotted #c0c0c0;
  padding: 0.5ex 0;
}

dl.talk .system {
  background-color : #f0f0f0;
  font-weight: bold;
  color: #000000;
}

dl.talk dt.system {
  width: 0;
}

dl.talk dd.system {
  padding-left: 12em;
  margin-left: -12em;
}

dl.talk dt.bottom {
  float: none;
  width: 100%;
  height: 0;
  padding: 0 0 0 12em;
  margin-bottom: -2px;
}

.lastwords h2 {
  border-top: 2px dotted #c0c0c0;
  padding: 3px 0 3px 12em;
  font-size: inherit;
}

.day {
  border-color: #FFFCF4;
  background-color: #FFFCF4;
  color: #000000;
}

.night {
  border-color: #141038;
  background-color: #141038;
  color: #CCCCCC;
}

.lastwords {
  background-color: #F0F8FF;
  color: #000000;
}

.lastwords h2 {
  background-color: #E0F0FF;
}
