@import url(info.css);
table{
  margin: 10px 0px 20px 0px;
  border: 1px solid;
  border-collapse: collapse;
}
caption{
  margin-left: 1em;
  color: #CC0000;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
}
th, td{
  padding: 5px;
  border: 1px solid;
  text-align: center;
  white-space: nowrap;
}
td{ font-size: 90%; }
.ability{
  text-align: left;
  white-space: normal;
}
