@charset "utf-8";
@import url(info.css);
body{
  background-color: #FFFFFF;
  background-image: url("../img/script_info_bg.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
}
img{margin-bottom: 1em;}
.info{margin: 0.5em 0em 1em 1em;}
.info img{margin: 0;}
div{
  margin-left: 1em;
  margin-bottom: 1em;
}
.diff-time{border: 1px solid #CCCCCC;}
