@charset "utf-8";
@import url(info.css);
@import url(../role_table.css);
body {
  background-image: url("../../img/bg/cast.png");
}
th, td {
  filter: alpha(opacity=70, enabled=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  background-color: #FCFCF6;
}
